# Items to ignore when downloading a zip

# Exclude vendor binaries and development files
/vendor/bin/                      export-ignore
/vendor/**/phpcs.xml.dist.sample  export-ignore
/.phpunit.result.cache            export-ignore
/vendor/**/.phpunit.result.cache  export-ignore

# GitHub
.gitignore            export-ignore
.gitattributes        export-ignore
/.github/             export-ignore

# Packages / Dependencies
package-lock.json     export-ignore
composer.lock         export-ignore
babel.config.json     export-ignore
webpack.config.js     export-ignore

# Project specific
/.wordpress-org/      export-ignore
# /src/                 export-ignore

# Tests / Other
/tests/               export-ignore
phpunit.xml           export-ignore
.phpunit.result.cache export-ignore
README.md             export-ignore
.editorconfig         export-ignore
.DS_Store*            export-ignore