.captainhooks-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.5);
}

.captainhooks-modal .captainhooks-inside {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 800px;
	max-height: 80%;
	overflow: auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}

// modal close button
.captainhooks-modal .captainhooks-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
}

.captainhooks-highlight {
	background-color: rgb(96, 96, 1);
}

.hljs-ln td.hljs-ln-code {
	padding-left: 5px;
}